.banner__form-contact {
	max-width: 1000px;
	width: 100%;
	margin-top: 90px;
	background-color: #ffffff;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.name__contact,
.email__contact,
.password__contact {
	max-width: 571px;
	width: 90%;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 33px;
}

.password__contact {
	margin-bottom: 0;
}

.message__contact {
	max-width: 571px;
	width: 90%;
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	border-bottom: 1px solid #bdbdbd;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
}


.btn-send-message {
	max-width: 370px;
	width: 100%;
	height: 60px;
	background: #EC7979;
	border: none;
	position: relative;
	margin-top: 50px;
	color: #FFFFFF;
	transition: all 0.5s;
	cursor: pointer;
}

.btn-send-message:hover {
	background: #AB4949;
}

.btn-send-message:active {
	background: #EC7979;
}

.form__send-message {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1000px;
	width: 100%;
}

.form__send-message ::placeholder {
	color: #BDBDBD;
}

.form__send-message input {
	padding: 5px;
}

.form__send-message input:focus,
.form__send-message input:hover {
	padding: 5px;
	outline: none;
	border: 1px solid #C6CBCD;
	border-radius: 5px;
}

.message__contact input:focus,
.message__contact input:hover {
	outline: none;
	border: 1px solid #C6CBCD;
	border-radius: 5px;
}

.form__send-message-wrapper1 {
	display: flex;
	flex-direction: row;
	max-width: 1000px;
	width: 100%;
}

.form__send-message-wrapper2 {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
	max-width: 571px;
	width: 100%;
}